<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  {% unless page.url == "/" %}
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  {% endunless %}

  <div id="navMenu" class="navbar-menu">
    {% unless page.url == "/" %}
    <div class="navbar-start" style="justify-content: center; flex-grow: 1;">
      <a class="navbar-item has-text-weight-bold" href="{{ '/' | relative_url }}">Home</a>
      <a class="navbar-item has-text-weight-bold" href="{{ '/bio/' | relative_url }}">Bio</a>
      <a class="navbar-item has-text-weight-bold" href="{{ '/projects/' | relative_url }}">Projects</a>
    </div>
    {% else %}
    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
      <div class="navbar-item">
        <div class="loading-bar"></div>
      </div>
    </div>
    {% endunless %}
  </div>
</nav>
